body {
  font-family: Arial;
}

h1{
  font-size: 1.7em;
}

h3{
  font-size: 1.2em;
}

.error {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.noHeader.ui-datatable table thead tr {
    display: none;
}


.ui-datatable-empty-message {
    display: none;
}
.ui-datatable {
    width: 100%;
}

.ui-datatable th, .ui-datatable td {
    padding: 8px;
    text-align: center;
}

.ui-datatable thead th {
    text-align: center !important;
}





